<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.embedded.wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        tools:ignore="UnusedAttribute" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        tools:ignore="UnusedAttribute" />

    <application>
        <activity
            android:name=".BitVaultActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="eotutil.eotessential.SDKUserValidation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>

        <service
            android:name="bitmanagers.BitVaultMQTTServiceManager"
            android:exported="false"
            android:process="bitmanagers.BitVaultMQTTServiceManager"></service>
        <activity
            android:name="qrcode.ScanQRCode"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>